API/node_modules
API/.env

SmartContracts/node_modules

# Hardhat files
SmartContracts/cache
SmartContracts/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json
